<style>
    #lw_fe_inputelement_lw_formular_template,
    #lw_fe_inputelement_lw_preview_template,
    #lw_fe_inputelement_lw_sent_template,
    #lw_fe_inputelement_lw_error_template,
    #lw_fe_inputelement_lw_mail_template 
     { width: 950px; height: 500px; }
    
    #tabs ul li a { color: #000; background-color:transparent; }
    .lw_content{width: 110%!important;}
</style>
<script type="text/javascript" src="<!-- lw:var jqUI -->"></script>
<link rel="stylesheet" href="<!-- lw:var jqUIcss -->" />

<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        $( "#tabs" ).tabs();
        $("#tabs li a").click(function() {
            $("#tabs li a").removeClass('active');
            $(this).addClass("active");
        });
    });
</script>

<fieldset class="lwadminform">

    <legend class="lwadminform">E-Card Basisdaten bearbeiten</legend>
    
    <div id="tabs">
        <ul>
            <li><a href="#lw_formular_template">Formular</a></li>
            <li><a href="#lw_preview_template">Vorschau / ECard</a></li>
            <li><a href="#lw_sent_template">versendet</a></li>
            <li><a href="#lw_error_template">Fehlermeldung</a></li>
            <li><a href="#lw_mail_template">Mail</a></li>
            <li><a href="#lw_auto_delete">Grunddaten</a></li>
        </ul>
        <!-- lw:var form -->
    </div>
</fieldset>
