<style>
    #container_done{
        width: 99%;
        height: 99%;
        border: 1px solid greenyellow;
        background-color: darkgreen;
    }
    
    #container_done_msg{
        width: 400px;
        margin: 10% auto 0 auto;
        color: #fff;
    }
</style>
<div id="container_done">
    <div id="container_done_msg">
        <h2>Info:</h2>
        <p><!-- lw:var meldung --></p>
        <input id="button_done" type="button" value="OK" onclick="self.location.href='<!-- lw:var link -->';" />
    </div>
</div>